apiVersion: v1
kind: Secret
metadata:
  name: super-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "username": "test-user",
      "password": "welcome123"
    }
